/* external heading*/
/*
	CSS Rules
	selector {
		property: value;
	}

*/

/* Type selector*/
h1 {
	color: green !important;
	text-align: center;
	font-size: 2rem;
}

/* Universal selector*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px; 
}


/* ID selector*/
*#zuitt-motto {
	/* letter spacing property changes the spaces in between characters of a text */
	letter-spacing: 5px;
}

/* Class selector */
.offering-item {

	/*text-tranform property changes font to a certain case*/
	text-transform: uppercase;
}

/* attribute selector */
[required] {
	border-width: 2px;
	border-top-style: solid;
	border-color: navy;
	width: 90%;
}

h3 {
	letter-spacing: 25px;
}

/*Selector Combination*/
/*adjacent sibling mas matandang kapatid*/
h3 + img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

/*Child selector mga anak*/
#bootcamp-learning-list > li{
	color: #FF6B33;
}

/*General Sibling selector mas batang kapatid*/
h2 ~ a {
	text-decoration: none;
}

/*Descendant selector*/
#register label{
	color: rgb(0, 0, 128);
}

body{
	background-color: skyblue;
}

/*for the smoothness of the scrolling experience*/
html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}


/*for the hover effect*/
a:hover {
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float: right;
}

section{
	height: 100vh;
	text-align: center;
}

h2{font-size: 1.5rem ;

}
ol { list-style-type: none;


}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 20vw;
	height: 200px;
	border: 2px solid black;
	left: 40%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}