*#external{
	color: yellow;
}

h1 {
	font-family: "Arial";
	font-size: 45px;
}

*{
	font-family: "Arial";
	font-size: 1rem; 
}

#things {
	text-transform: uppercase;
}

.languages {
background-color: springgreen;
}

[align] {
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}

img + #other-list {
	list-style-type: none;
}

#other-things img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

h3~p {
	text-align: center;
}

#other-list > li {
	letter-spacing: 10px;
}